.card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0; 
    box-shadow: 0 5 10px rgba(0, 0, 0, 0.1); 
    border-radius: 20px; 
    text-align: center;
    height: 317px;
    margin: 24px 0px 24px 0px;

  }
  
  .logo-header2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .text {
    margin-top: 20px;
    font-size: 19px;
    font-weight: 500;
    color: #555; 
  }
  
  .explore_button {
    margin-top: 24px;
    padding: 10px 20px;
    width: 192px;
    height: 55px;
    background-color: #1C4980;
    color: #fff; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .explore_button:hover {
    background-color:#091d37; 
  }
  