.grad-up {
  font-family: sans-serif;
  color: #222;
}

.grad-up-hiring {
  background-color: #fff;
  padding: 40px 0;
  text-align: center;
}

.grad-up-hiring h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.grad-up-hiring a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.grad-up-services {
  background-color: #f5f5f5;
  padding: 40px 0;
}

.grad-up-services h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.grad-up-services .services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grad-up-services .service {
  width: 25%;
  padding: 20px;
  background-color: #fff;
}

.grad-up-services .service h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.grad-up-services .service p {
  font-size: 16px;
  line-height: 24px;
}

.grad-up-numbers {
  background-color: #fff;
  padding: 40px 0;
  text-align: center;
}

.grad-up-numbers h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.grad-up-numbers ul.numbers {
  list-style: none;
  padding: 0;
  margin: 0
}
